.message-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;

    .message-profile-image-container{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(177, 127, 127);
    }
    .message{
        flex: 9;
        background-color: rgb(154, 154, 177);
        padding: 20px;
    }
}