.base {
    flex: 1;
    width: 100%;
    display: flex;
    background-color: yellow;

    .left {
        flex: 1;
        background-color: #005461;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-container {
            width: 500px;
            height: 500px;
            filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.2));

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .right {
        flex: 1;
        background-color: #F4F4F4;
        display: flex;
        align-items: center;

        .login {
            width: 65%;
            max-width: 370px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            background-color: #F4F4F4;
            border-radius: 20px;
            box-shadow: 0 20px 40px rgba(0, 77, 77, 0.15);
            padding: 25px 30px;
            color: #005461;

            h3 {
                text-align: center;
                font-size: 30px;
                padding: 15px 0px;
                padding-bottom: 30px;
            }

            input {
                padding: 10px 15px;
                margin-bottom: 8px;
                font-size: 18px;
                border-radius: 30px;
                border: 1px solid lightgray;
            }

            input:focus {
                outline-color: #018790;
            }

            label {
                font-size: 18px;
                margin-bottom: 5px;
            }

            .desc {
                text-align: center;
                margin-top: 12px;
                // color: rgb(1, 135, 144);
                color: #005461;

                span {
                    font-weight: 500;
                    color: #018790;
                }
            }

            .auth-button {
                width: 100%;
                margin-top: 18px;
                padding: 10px 20px;
                background-color: rgb(1, 135, 144);
                border: white;
                border-radius: 30px;
                font-size: 17px;
                color: white;
                cursor: pointer;
            }

            .loading-state {
                background-color: rgba(1, 135, 144, 0.719);
                cursor: not-allowed;
            }

            .error {
                color: red;
                margin: 10px 0px;
            }

            .radio-buttons {
                margin: 10px 0px;

                label {
                    margin-right: 20px;
                }
            }
        }
    }
}