.order-container {
    width: 100%;
    margin-top: 30px;

    .order {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;

        .order-back-button {
            font-size: 25px;
            cursor: pointer;
        }

        .order-title {
            // width: 100%;
            display: flex;
            margin-top: 30px;
            justify-content: space-between;

            .order-title-preview {
                width: 180px;
                height: 120px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .order-title-info {
                flex: 2;
                display: flex;
                align-items: center;
                font-size: 30px;
                padding-left: 30px;
            }

            .order-title-status {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                border-left: 1px solid black;
            }
        }

        .order-desc {
            width: 100%;
            padding-top: 40px;

            .order-desc-attr {

                table {
                    font-size: 20px;

                    td {
                        padding-bottom: 15px;
                    }

                    tr {
                        td:nth-child(2) {
                            padding-left: 30px;
                        }
                    }
                }

                .order-attr {
                    font-weight: 600;
                }
            }
        }

        .order-status {
            width: 100%;
            padding-top: 20px;

            .order-status-title {
                font-weight: 500;
                font-size: 30px;
            }

            .order-status-items {
                padding: 20px;
                font-size: 20px;
                font-weight: 500;
                // text-align: center;
            }

            .order-action {
                padding-left: 30px;
                width: 50%;

                .order-upload-file-input {
                    display: none;
                }

                .order-upload-file-button {
                    padding: 5px 10px;
                    background-color: gainsboro;
                    border: 1px solid gray;
                    border-radius: 5px;
                    font-size: initial;
                    cursor: pointer;
                }

                button {
                    padding: 20px 10px;
                    // border: none;
                }

                .order-file-preview-container {

                    .order-file-preview {
                        margin-top: 10px;
                        max-width: 400px;
                        width: 100%;
                        min-height: 100px;
                        background-color: aqua;
                        width: 100%;
                        height: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        gap: 10px;
                        padding: 8px;

                        .order-file {
                            background-color: rgb(196, 196, 196);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 10px;
                        }

                        .delete-img-button {
                            padding: 20px;
                            background: none;
                            border: none;
                            cursor: pointer;
                        }

                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: 12% 0% 0% 12%;
                        }

                        .video_icon {
                            width: 70px;
                            height: 70px;
                            margin-left: 20px;
                            display: flex;
                            align-items: center;
                        }

                        .audio_icon {
                            width: 70px;
                            height: 70px;
                            margin-left: 20px;
                            display: flex;
                            align-items: center;
                        }

                        .file_icon {
                            width: 70px;
                            height: 70px;
                            margin-left: 20px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    .contains {
                        align-items: initial;
                        justify-content: initial;
                    }

                    textarea {
                        width: 100%;
                    }
                }

                .order-open-chat-button {
                    padding-top: 20px;
                }
            }
        }
    }
}