.orders-container{
    width: 100%;

    .orders{
        width: 1300px;
        margin: 0 auto;

        .orders-page-title{
            // font-weight: 700;
            font-size: 40px;
            padding: 20px 0px;
        }
    }
}